output/
old/
input/
backup/
src/*
!src/SDeltaPtCutStudy.cc
!src/SDeltaPtCutStudy.h
!src/SDeltaPtCutStudy.io.h
!src/SDeltaPtCutStudy.sys.h
!src/SDeltaPtCutStudy.ana.h
!src/SDeltaPtCutStudy.plot.h
!src/SDeltaPtCutStudyLinkDef.h
!src/autogen.sh
!src/configure.ac
!src/Makefile.am
!src/sphx-build
